# config/ - 管理対象外のディレクトリを除外
config/*
!config/gocode/
!config/htop/
!config/karabiner/
!config/nvim/
!config/peco/
!config/git/
!config/.gitkeep

# karabiner の自動バックアップは除外
config/karabiner/automatic_backups/
